html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  background-color: #43464a;
  margin: 0px auto;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0px auto;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

fieldset {
  border: none;
}

input, textarea {
  padding-left: 1em;
  width: 99%;
  background-color: #818285;
  border: 0px;
  padding: 0px 0px 0px 5px;
  border-radius: 2px;
  height: 2em;
  outline: none;
}

h1 {
  margin: 0px;
  background-color: #818285;
}


.stack-vertical > * {
  display: block;
}

.child-margin10 > * {
  margin-top: 10px;
}