.btn-default {
    color: aliceblue;
    background-color: #818285;
    border: 0;
    max-height: 15vh;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    overflow-wrap: break-word;
}

.primary {
    color: aliceblue;
    background-color: #206136;
}

.primary:hover {
    background-color: #184728;
}

.primary:disabled {
    background-color: gray;
}

.cancel {
    color: aliceblue;
    background-color: #a8282b;
}

.cancel:hover {
    background-color: #8a1e21;
}