.user-card {
    display: inline-block;
    width: 20vw;
}

.user-card-container {
    margin-top: 0.5em;
    margin-left: 0.25em;
    max-width: 90vw;
    max-height: 50vh;
    overflow: auto;
}

.user-card-container > .user-card {
    margin-right: 1vw;
    margin-bottom: 1vh;
}