.battle-request-list {
    display: flex; 
    flex-wrap: wrap
}

.battle-request-card {
    /* border: red 1px solid; */
    background-color: #818285;
    border-radius: 2px;
    flex-basis: auto;
    flex-shrink: 1;
    margin: 1vw;
    text-align: center;
}

.battle-request-card > i {
    color: aliceblue;
    word-break: break-all;
}

.battle-request-card > button ~ button {
    margin-bottom: 1em;
}